  # THE PRICE IS RIGHT

In [2]:
import pandas as pd

In [3]:
import sqlite3

## import Showcase data from Excel

In [4]:
ShowcaseStats = pd.read_csv("https://raw.githubusercontent.com/koryvette/python/master/project/Showcase_spin.csv")

In [5]:
ShowcaseStats.head()

   Season  First spinner won  Second spinner won  Third spinner won
0      29                 92                 115                121
1      30                 93                 133                124
2      31                103                 129                118
3      32                106                 114                130
4      33                119                 106                125

In [13]:
ShowcaseStats.describe()

          Season  First spinner won  Second spinner won  Third spinner won
count  18.000000          18.000000           18.000000          18.000000
mean   37.500000         110.777778          124.166667         132.277778
std     5.338539           9.434328           10.211009          10.829185
min    29.000000          92.000000          106.000000         118.000000
25%    33.250000         104.500000          115.000000         124.250000
50%    37.500000         113.500000          126.500000         130.500000
75%    41.750000         117.000000          130.500000         136.000000
max    46.000000         123.000000          143.000000         154.000000

In [14]:
import matplotlib.pyplot as plt
plt.ylabel('Season')
plt.xlabel('Showcase Spinner position')

plt.plot(ShowcaseStats)

[<matplotlib.lines.Line2D at 0x26663e821d0>,
 <matplotlib.lines.Line2D at 0x26663e82320>,
 <matplotlib.lines.Line2D at 0x26663e82470>,
 <matplotlib.lines.Line2D at 0x26663e825c0>]

## import Winners data from Excel

In [6]:
WinnerStats = pd.read_csv("https://raw.githubusercontent.com/koryvette/python/master/project/Game_stats_Win.csv")

In [9]:
WinnerStats.head()

,Season,Any Number,Balance Game,Barker's Bargain Bar,Barker's Marker$,Bonkers,Bonus Game,Bullseye,Buy or Sell,Card Game,...,Switcheroo,Take Two,Temptation,10 Chances,That's Too Much!,3 Strikes,Time is Money,Triple Play,2 for the Price of 1,Vend-O-Price
0,29,12,0,23,3,0,4,9,7,4,...,4,4,5,10,4,1,0,1,1,0
1,30,11,0,21,5,11,5,10,4,5,...,0,5,1,4,7,1,0,1,4,0
2,31,8,0,24,5,10,2,12,6,5,...,4,6,3,8,8,3,0,2,2,0
3,32,5,0,18,3,6,8,9,7,3,...,3,3,2,7,9,1,11,2,4,0
4,33,9,0,15,3,7,8,8,4,3,...,1,5,3,3,6,4,0,1,5,0

In [12]:
WinnerStats.describe()

,Season,Any Number,Balance Game,Barker's Bargain Bar,Barker's Marker$,Bonkers,Bonus Game,Bullseye,Buy or Sell,Card Game,...,Switcheroo,Take Two,Temptation,10 Chances,That's Too Much!,3 Strikes,Time is Money,Triple Play,2 for the Price of 1,Vend-O-Price
count,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,...,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000
mean,37.500000,15.833333,6.055556,8.833333,1.333333,7.500000,2.388889,2.333333,0.722222,8.388889,...,7.444444,3.388889,8.055556,4.722222,19.722222,3.555556,3.388889,3.888889,4.500000,1.333333
std,5.338539,3.451342,4.733761,5.170618,1.608799,3.203858,1.974511,1.328422,1.074055,5.019244,...,1.722591,1.539247,2.154946,1.934381,6.658083,1.293523,6.088938,1.604732,1.757338,3.143621
min,29.000000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,4.000000,1.000000,6.000000,2.000000,2.000000,1.000000,0.000000,1.000000,1.000000,0.000000
25%,33.250000,13.250000,0.750000,7.250000,0.000000,6.000000,1.000000,2.000000,0.000000,4.000000,...,6.000000,2.000000,7.000000,4.000000,17.000000,3.000000,0.000000,3.000000,3.000000,0.000000
50%,37.500000,14.000000,6.000000,9.500000,0.500000,8.000000,1.500000,2.000000,0.000000,9.500000,...,7.000000,3.000000,7.000000,4.000000,18.000000,4.000000,0.000000,3.500000,5.000000,0.000000
75%,41.750000,18.000000,9.750000,12.500000,2.000000,9.000000,4.000000,3.000000,1.000000,12.750000,...,8.750000,5.000000,9.000000,6.000000,23.750000,4.000000,3.000000,5.000000,5.750000,0.000000
max,46.000000,23.000000,14.000000,19.000000,5.000000,13.000000,6.000000,5.000000,3.000000,16.000000,...,11.000000,6.000000,13.000000,9.000000,31.000000,6.000000,16.000000,7.000000,7.000000,10.000000

## import Losers data from Excel

In [9]:
LoserStats = pd.read_csv("https://raw.githubusercontent.com/koryvette/python/master/project/Game_stats_Loss.csv")

In [10]:
LoserStats.head()

,Season,Any Number,Balance Game,Barker's Bargain Bar,Barker's Marker$,Bonkers,Bonus Game,Bullseye,Buy or Sell,Card Game,...,Switcheroo,Take Two,Temptation,10 Chances,That's Too Much!,3 Strikes,Time is Money,Triple Play,2 for the Price of 1,Vend-O-Price
0,29,15,0,8,5,0,2,4,1,14,...,8,2,7,3,2,2,0,7,5,0
1,30,12,0,8,2,11,0,2,3,12,...,11,2,9,5,18,4,0,5,2,0
2,31,14,0,7,2,6,4,2,1,9,...,7,2,6,4,18,5,0,6,7,0
3,32,20,0,13,4,9,1,2,0,11,...,6,3,8,4,14,6,4,5,3,0
4,33,16,0,10,3,5,1,2,2,14,...,8,1,6,9,17,4,0,5,1,0

In [11]:
LoserStats.describe()

,Season,Any Number,Balance Game,Barker's Bargain Bar,Barker's Marker$,Bonkers,Bonus Game,Bullseye,Buy or Sell,Card Game,...,Switcheroo,Take Two,Temptation,10 Chances,That's Too Much!,3 Strikes,Time is Money,Triple Play,2 for the Price of 1,Vend-O-Price
count,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,...,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000
mean,37.500000,15.833333,6.055556,8.833333,1.333333,7.500000,2.388889,2.333333,0.722222,8.388889,...,7.444444,3.388889,8.055556,4.722222,19.722222,3.555556,3.388889,3.888889,4.500000,1.333333
std,5.338539,3.451342,4.733761,5.170618,1.608799,3.203858,1.974511,1.328422,1.074055,5.019244,...,1.722591,1.539247,2.154946,1.934381,6.658083,1.293523,6.088938,1.604732,1.757338,3.143621
min,29.000000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,4.000000,1.000000,6.000000,2.000000,2.000000,1.000000,0.000000,1.000000,1.000000,0.000000
25%,33.250000,13.250000,0.750000,7.250000,0.000000,6.000000,1.000000,2.000000,0.000000,4.000000,...,6.000000,2.000000,7.000000,4.000000,17.000000,3.000000,0.000000,3.000000,3.000000,0.000000
50%,37.500000,14.000000,6.000000,9.500000,0.500000,8.000000,1.500000,2.000000,0.000000,9.500000,...,7.000000,3.000000,7.000000,4.000000,18.000000,4.000000,0.000000,3.500000,5.000000,0.000000
75%,41.750000,18.000000,9.750000,12.500000,2.000000,9.000000,4.000000,3.000000,1.000000,12.750000,...,8.750000,5.000000,9.000000,6.000000,23.750000,4.000000,3.000000,5.000000,5.750000,0.000000
max,46.000000,23.000000,14.000000,19.000000,5.000000,13.000000,6.000000,5.000000,3.000000,16.000000,...,11.000000,6.000000,13.000000,9.000000,31.000000,6.000000,16.000000,7.000000,7.000000,10.000000

In [23]:
df = pd.merge(WinnerStats, LoserStats, how='inner')
df.head(n = 6)

,Season,Any Number,Balance Game,Barker's Bargain Bar,Barker's Marker$,Bonkers,Bonus Game,Bullseye,Buy or Sell,Card Game,...,Switcheroo,Take Two,Temptation,10 Chances,That's Too Much!,3 Strikes,Time is Money,Triple Play,2 for the Price of 1,Vend-O-Price
0,29,15,0,8,5,0,2,4,1,14,...,8,2,7,3,2,2,0,7,5,0
1,30,12,0,8,2,11,0,2,3,12,...,11,2,9,5,18,4,0,5,2,0
2,31,14,0,7,2,6,4,2,1,9,...,7,2,6,4,18,5,0,6,7,0
3,32,20,0,13,4,9,1,2,0,11,...,6,3,8,4,14,6,4,5,3,0
4,33,16,0,10,3,5,1,2,2,14,...,8,1,6,9,17,4,0,5,1,0
5,34,13,5,8,3,8,3,2,1,13,...,10,5,9,6,15,4,0,6,5,0